body {    
    margin: 0;
    padding: 0;
    background-color: #f3e2ed;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: .85rem;
    line-height: 1.8;
    color: #6A7480;
    height: 100vh;
    
    text-align: center;
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

@media screen and (max-width: 1000px) {
    .section-container {
        width: 100vw;
        margin-right: auto;
        margin-left: auto;
    }
  }

@media screen and (min-width: 1000px) {
    .section-container {
        width: 1000px;
        margin-right: auto;
        margin-left: auto;
    }
  }

/* SECTIONS */
#header-section {
    background: #4D3FEF;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

#section-1 {
    background: #4D3FEF;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

#section-2 {
    background: #0085FF;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

#section-3 {
    background: #2F005F;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

/* FONTS */
.section-title {
  margin: 0px;
  line-height: 1;
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #ffffff;
}

hr{
  width: 100px;
  border-bottom: 3px solid #ffffff !important;
  margin-top: 1rem !important;
  margin-bottom: 3rem !important;
}

.section-subtitle {
  margin: 0px;
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1;
  color: #ffffff;
}

.description {
  margin-bottom: 0px !important;
  font-size: 1.4rem;
  font-family: 'Roboto', sans-serif;
  line-height: 1.3;
  color: #ffffff;
}

.description.images {
  margin-bottom: 0px !important;
  margin-top: 2rem !important;
  font-size: 1.4rem;
  font-family: 'Roboto', sans-serif;
  line-height: 1.3;
  color: #ffffff;
}

.link-button {
  background: white;
  border: 10px solid #0085FF;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  display: block;
  padding: 1.4rem;
  margin-right: auto;
  margin-left: auto;
}

.margin-r{
  margin-right: 40px;
}
.padding-b {
    padding-bottom: 1rem;
}
.padding-b-l{
    padding-bottom: 2rem;
}
.padding-b-xl{
    padding-bottom: 4rem;
}
.padding-t-xl {
    padding-top: 4rem;
}

.user-card {
  background: white;
  padding: 2rem;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5rem;
}

p {
  margin: 0px !important;
}

.cv-job {
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  line-height: 1.1;
  color: #ffffff;
}

.cv-description {
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  color: #ffffff;
}

li a {
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  color: #ffffff;
  border-bottom: 2px solid #ffffff !important;
}

li a:hover {
  color: #FFC0CB;
  border-bottom: 2px solid #FFC0CB !important;
  transition-duration: .3s;
}


ul.menu {
  margin-right: auto;
  margin-left: auto;
  width: 620px;
}